.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Navbar */

.Navbar {
  height: 7vh;
  width: 100%;
  padding: 0 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.logo-img {
  height: 100%;
}

.login-navbar {
  color: black;
  font-weight: 600;
}

/* Feed */

.Feed {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 5%;
  align-items: flex-end;
}

.Feed:last-child {
  align-items: flex-start;
}

/* Card */

.card {
  height: 20vw;
  margin: 0;
}

/* Profile */

.flex-container {
  display: flex;
  align-items: center;
  height: 240px;
}

.flex-container2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 240px;
}


/* Profile Pic */
  
.profile_pic_div{
  height: 100% ;
  width: 30%;
}

.profile_pic {
  height: 100%;
}

/* User's Info*/

.user_info {
  width: 70%;
}

.user_info_list {
  width: 30%;
  margin: 0 auto !important;
}

/* Friends */
.friends {
  width: 30%;
}

/* Posts */

.posts {
  width:70%;
  margin: 0 auto;
}

/* Footer */

.footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  font-size: 120%;
  padding-bottom: 1%;
  width: 100%;
}